<?xml version="1.0" encoding="UTF-8"?>

<beans xmlns="https://www.springframework.org/schema/beans"
	xmlns:xsi="https://www.w3.org/2001/XMLSchema-instance"
	xmlns:aop="https://www.springframework.org/schema/aop"
	xsi:schemaLocation="https://www.springframework.org/schema/beans https://www.springframework.org/schema/beans/spring-beans-4.0.xsd
		https://www.springframework.org/schema/aop https://www.springframework.org/schema/aop/spring-aop-4.0.xsd">


<bean name="employee" class="packageAspects.Account">
	<property name="AccountId" value="25"></property>
	<property name="AccountName" value="Suriya"></property>
	<property name="AccountBalance" value="685968596"></property>
</bean>

<bean id ="service" class ="packageAspects.Someservice"></bean>
<bean id ="proxy" class ="org.springframework.aop.framework.ProxyFactoryBean"></bean>
<property  name ="proxyInterfaces">
<list>
		<value>packageAspects.FilterMethods</value>
</list>
</property>

<property name ="interceptorNames">
<list>
<value>service</value>
</list>
</property>
<property name ="target">
	<ref bean="business"></ref>
</property>
</beans>